<footer th:fragment="footer" class="bg-black mt-4 h-100">
    <div class="row">
        <!-- Horario de Atención -->
        <section class="col-lg-4 col-md-12 text-white text-center px-0 my-5">
            <h5 th:text="#{footer.horario_atencion}">Horario de Atención</h5>
            <div class="my-3">
                <p th:text="#{footer.horario.lunes_viernes}">Lunes a Viernes: 9:00 AM - 8:00 PM</p>
                <p th:text="#{footer.horario.sabado}">Sábado: 10:00 AM - 6:00 PM</p>
                <p th:text="#{footer.horario.domingo}">Domingo: Cerrado</p>
            </div>
            <div class="mt-5">
                <h5 th:text="#{footer.donde_estamos}">¿Dónde estamos?</h5>
                <div class="my-3">
                    <a th:href="@{/ubicaciones}" th:text="#{footer.ver_ubicaciones}" class="text-white">Ver nuestras ubicaciones en Google Maps</a>
                </div>
            </div>
        </section>
        <!-- Contáctanos -->
        <section class="col-lg-4 col-md-12 text-white text-center px-0 my-5">
            <h5 th:text="#{footer.contactanos}">Contáctanos</h5>
            <div>
                <p th:text="#{footer.telefonos}">Teléfonos:</p>
                <p th:text="#{footer.telefono1}">+34 912 345 678</p>
                <p th:text="#{footer.telefono2}">+34 987 654 321</p>
            </div>
            <div>
                <p th:text="#{footer.correos}">Correos electrónicos:</p>
                <p th:text="#{footer.correo1}">atencioncliente@empresa.com</p>
                <p th:text="#{footer.correo2}">soporte@zerif.com</p>
            </div>
            <div class="my-3">
                <a th:href="@{/blog/pagina}" th:text="#{footer.visita_blog}" class="text-white">Visita nuestro blog</a>
            </div>
        </section>
        <!-- Redes sociales -->
        <section class="col-lg-4 col-md-12 text-white text-center px-0 my-5">
            <h5 th:text="#{footer.redes_sociales}">Redes sociales</h5>
            <div class="d-flex flex-row justify-content-evenly my-4">
                <a th:href="@{/}" style="color:#1DA1F2;"> <!-- Twitter -->
                    <i class="fa-brands fa-x-twitter fa-2xl" style="color: #ffffff;"></i>
                </a>
                <a th:href="@{/}" style="color:#FF0000;"> <!-- YouTube -->
                    <i class="fa-brands fa-youtube fa-2xl" style="color: #d12929;"></i>
                </a>
                <a th:href="@{/}" style="color:#E1306C;"> <!-- Instagram -->
                    <i class="fa-brands fa-instagram fa-2xl" style="color: #bd79c4;"></i>
                </a>
                <a th:href="@{/}" style="color:#1877F2;"> <!-- Facebook -->
                    <i class="fa-brands fa-square-facebook fa-2xl" style="color: #2664cf;"></i>
                </a>
            </div>
        </section>
    </div>
</footer>
