<span th:fragment="span-producto" th:each="producto :${listaProducto}" class="span-producto card mt-3 ">
    <div class="card-img  position-relative mt-3">
        <a th:href="@{/producto/detalle/{nombre}(nombre=${producto.nombre})}">
            <img th:src="${producto.foto}" alt="Foto producto" class="imagen-producto img-fluid">
            <div class="valoracionMedia">
                <span ><i class="fas fa-star fa-fw fa-1x" style="color: #FFD43B;"></i></span>
                <span class="ms-2" th:text="${producto.mediaValoraciones}">0.00</span>
            </div>
        </a>
    </div>
    <div class="card-body container">
        <div class="row">
            <h5 class="col-6 text-start" th:text="${producto.nombre}">Nombre Producto</h5>
            <h5 class="col-6 text-end">
                <span class="precio" th:text="${producto.precio}"></span>
                <span>€</span>
            </h5>
        </div>
    </div>
</span>
