<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="~{fragmentos/head::head(~{::title}, ~{::link})}">
    <title>Mi perfil</title>
    <link rel="stylesheet" th:href="@{/css/mi-perfil.css}">
</head>
<body>
<div class="card">
    <div class="card-img">
        <img th:src="@{/logo_zerif.webp}" alt="" src="">
    </div>
    <div class="card-body">
        <form th:replace="~{fragmentos/form-usuario::form-usuario}"></form>
    </div>
    <div class="card-footer">
        <div class="mb-3 mt-2">
            <button class="btn btn-warning">Modificar</button>
        </div>
        <div class="mb-3">
            <div class="mb-1">
                <a>Cambiar contraseña</a>
            </div>
            <div>
                <a>Cambiar email</a>
            </div>
        </div>
    </div>
</div>
</body>
</html>