<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="~{fragmentos/head::head(~{::title}, ~{::link})}">
    <title>Finalizar Pedido</title>
    <link rel="stylesheet" th:href="@{css/index.css}">
</head>
<body class="mx-3">
<header th:replace="~{fragmentos/header::header}"></header>

<main class="mx-auto">

    <!-- Acordeón para finalizar pedido -->
    <div class="accordion" id="accordionExample">

        <!-- Sección de Productos -->
        <div class="accordion-item">
            <h2 class="accordion-header" id="headingOne">
                <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                    Detalles del Pedido
                </button>
            </h2>
            <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                <div class="accordion-body">
                    <table class="table">
                        <thead>
                        <tr>
                            <th>Nombre del Producto</th>
                            <th>Precio</th>
                            <th>Cantidad</th>
                            <th>Precio Total</th>
                        </tr>
                        </thead>
                        <tbody th:each="articulo : ${carrito.articulos}">
                        <!-- Aquí irían los productos, puedes generar estas filas dinámicamente con Thymeleaf o el motor de plantillas que uses -->
                        <tr>
                            <td th:text="${articulo.producto.nombre}">Producto 1</td>
                            <td th:text="${articulo.producto.precio}">$10</td>
                            <td th:text="${articulo.cantidad}">2</td>
                            <td th:text="${#numbers.formatDecimal(articulo.precioUnidad * articulo.cantidad, 2, 2)}">$20</td>
                        </tr>
                        </tbody>
                        <tfoot>
                            <tr>
                                <td>Total:</td>
                                <td></td>
                                <td></td>
                                <td th:text="${#numbers.formatDecimal(carrito.getTotal(), 2, 2)}+'€'"></td>
                            </tr>
                        </tfoot>
                    </table>
                </div>
            </div>
        </div>

        <!-- Sección de Dirección -->
        <div class="accordion-item">
            <h2 class="accordion-header" id="headingTwo">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                    Dirección
                </button>
            </h2>
            <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
                <div class="accordion-body">
                    <form method="post" action="#" enctype="multipart/form-data"
                          th:action="@{/direccion/compra/new}"
                          th:object="${direccion}">
                        <div class="mb-3">
                            <label for="calle" class="form-label">Calle</label>
                            <input type="text" class="form-control" id="calle" name="calle">
                        </div>
                        <div class="mb-3">
                            <label for="numero" class="form-label">Número</label>
                            <input type="number" class="form-control" id="numero" name="numero">
                        </div>
                        <div class="mb-3">
                            <label for="piso" class="form-label">Piso</label>
                            <input type="number" class="form-control" id="piso" name="piso">
                        </div>
                        <div class="mb-3">
                            <label for="puerta" class="form-label">Puerta</label>
                            <input type="text" class="form-control" id="puerta" name="puerta">
                        </div>
                        <div class="mb-3">
                            <label for="ciudad" class="form-label">Ciudad</label>
                            <input type="text" class="form-control" id="ciudad" name="ciudad">
                        </div>
                        <button type="button" class="btn btn-primary">Guardar</button>
                        <button type="button" class="btn btn-secondary">Cambiar</button>
                    </form>
                </div>
            </div>
        </div>

        <!-- Sección de Método de Pago -->
        <div class="accordion-item">
            <h2 class="accordion-header" id="headingThree">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                    Método de Pago
                </button>
            </h2>
            <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
                <div class="accordion-body">
                    <form method="post" action="#" enctype="multipart/form-data"
                          th:action="@{/tarjeta/compra/new}"
                          th:object="${tarjeta}">
                        <div class="input-group mb-3" th:classappend="${#fields.hasErrors('numTarjeta')} ? 'has-error'">
                            <label for="numTarjeta" class="form-label">Número de Tarjeta</label>
                            <input type="text" class="form-control" id="numTarjeta" name="numTarjeta" required pattern="\d{16}" th:field="*{numTarjeta}">
                            <span th:if="${#fields.hasErrors('numTarjeta')}" th:errors="*{numTarjeta}"
                                  class="help-block" id="numTarjeta-error">Errores</span>
                        </div>
                        <div class="input-group mb-3">
                            <label for="cv" class="form-label">CV</label>
                            <input type="text" class="form-control" id="cv" name="cv" required pattern="\d{3,4}" th:field="*{cv}">
                            <span th:if="${#fields.hasErrors('cv')}" th:errors="*{cv}"
                                  class="help-block" id="cv-error">Errores</span>
                        </div>
                        <div class="input-group mb-3" th:classappend="${#fields.hasErrors('mesCaducidad')} ? 'has-error'">
                            <label for="mesCaducidad" class="form-label">Mes de Caducidad</label>
                            <input type="number" class="form-control" id="mesCaducidad" name="mesCaducidad" required min="1" max="12" th:field="*{mesCaducidad}">
                            <span th:if="${#fields.hasErrors('mesCaducidad')}" th:errors="*{mesCaducidad}"
                                  class="help-block" id="mesCaducidad-error">Errores</span>
                        </div>
                        <div class="input-group mb-3" th:classappend="${#fields.hasErrors('yearCaducidad')} ? 'has-error'">
                            <label for="yearCaducidad" class="form-label">Mes de Caducidad</label>
                            <input type="text" class="form-control" id="yearCaducidad" name="yearCaducidad" required pattern="\d{2}" th:field="*{yearCaducidad}">
                            <span th:if="${#fields.hasErrors('yearCaducidad')}" th:errors="*{yearCaducidad}"
                                  class="help-block" id="yearCaducidad-error">Errores</span>
                        </div>
                        <button type="submit" class="btn btn-success">Guardar</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <!-- Botón de hacer pedido -->
    <div class="my-3 text-end">
        <form>
            <button type="submit" class="btn btn-success">Hacer Pedido</button>
        </form>
    </div>
</main>
<!-- Lista de nombre de productos -->
<div th:replace="~{fragmentos/table-buscadorNav::table-buscadorNav}"></div>
<!-- Pie de pagina -->
<footer th:replace="~{fragmentos/footer::footer}"></footer>
<!-- Scripts -->
<th:block th:replace="~{fragmentos/js-final::jsfinal(~{::script})}">
    <script th:src="@{/js/index.js}"></script>
</th:block>
</body>
</html>
