<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="~{fragmentos/head::head(~{::title}, ~{::link})}">
    <title th:text="${tipo}"></title>
    <link rel="stylesheet" th:href="@{/css/tipo-producto.css}">
</head>
<body class="mx-3">
<header th:replace="~{fragmentos/header::header}"></header>
<main class="mx-auto">
    <!--Migas de pan-->
    <div>
        <nav aria-label="breadcrumb" class="my-5 ms-3">
            <ol class="breadcrumb">
                <li class="breadcrumb-item active" aria-current="page"><a th:href="@{/}" th:text="#{breadcrumb.home}">
                    Inicio</a></li>
                <li class="breadcrumb-item active" aria-current="page">
                    <a id="breadcrumb-tipo" th:text="${tipo}" th:href="@{/producto/tipo/{tipo1}(tipo1=${tipo})}">
                        Detalle Producto</a></li>
            </ol>
        </nav>
    </div>
    <!--El tipo-->
    <div>
        <h2 id="tituloTipoProducto" th:text="${tipo}"></h2>
    </div>
    <!--Opciones-->
    <div>
        <!--Subtipos-->
        <div th:unless="${listaSubtipos.size()==0}" class="mb-5">
            <div>
                <button class="buttonSubtipo" th:each="subtipo : ${listaSubtipos}" th:text="${subtipo.nombre}">Todos los Ramos</button>
            </div>
        </div>
        <!--Opciones-->
        <div id="opciones" class="d-flex justify-content-center align-items-center my-3">
            <div id="opcionesIzquierda" class="w-50">
                <a id="aOpcionesIzquierda">
                    <i class="fa-solid fa-sort fa-xl" style="color: #050505;"></i>
                    <span class="me-2" th:text="#{sort.by}">Ordena por</span>
                </a>
            </div>
            <div id="opcionesDerecha" class="w-50">
                <a id="aOpcionesDerecha">
                    <span class="ms-2" th:text="#{filter.title}">Filtro</span>
                    <i class="fa-solid fa-filter fa-xl" style="color: #000000;"></i>
                </a>
            </div>
        </div>
        <!--Modales-->
        <div id="paraModalOpcionesOrdenar"></div>
        <div id="paraModalOpcionesFiltrar"></div>
    </div>
    <!--Productos-->
    <div id="contenedorProductos" class="row  my-3 mx-auto">
        <div th:replace="~{fragmentos/span-producto::span-producto}"></div>
    </div>
</main>
<!-- Lista de nombre de productos -->
<div th:replace="~{fragmentos/table-buscadorNav::table-buscadorNav}"></div>

<footer th:replace="~{fragmentos/footer::footer}"></footer>
<th:block th:replace="~{fragmentos/js-final::jsfinal(~{::script})}">
    <script th:src="@{/js/tipo-producto.js}"></script>
</th:block>
</body>
</html>