.span-articulo{
    width: 31%;
    float: left;
    margin: 1%;
    padding: 0;
}
.cantidad{
    width: 50px;
}
#tituloCarrito{
    text-align: center;
    margin-top: 50pt ;
    margin-bottom: 20pt;
}
#scroll {
    height: 450pt;
    margin: 20px auto;
    border: 1px solid #ccc;
    padding: 20px;
    overflow-y: scroll; /* Habilita el desplazamiento vertical */
}

#scroll-content {
    margin: 0 0 ;
}

@media only screen and (max-width: 993px) {

    .span-articulo{
        width: 48%;
    }

}

/*Estilo cuando son dispositivos moviles*/
@media only screen and (max-width: 412px) {

    .span-articulo{
        width: 100%;
    }
}