.span-articulo{
    width: 31%;
    float: left;
    margin: 1%;
    padding: 0;
}
.cantidad{
    width: 50px;
}

#scroll {
    height: 490pt;
    margin: 20px auto;
    border: 1px solid #ccc;
    padding: 20px;
    overflow-y: scroll; /* Habilita el desplazamiento vertical */
}

#scroll-content {
    margin: 0 0 20px; /* Añade margen entre los párrafos */
}

@media only screen and (max-width: 993px) {

    .span-articulo{
        width: 48%;
    }

}

/*Estilo cuando son dispositivos moviles*/
@media only screen and (max-width: 412px) {

    .span-articulo{
        width: 100%;
    }
}