#videoYoutube{
    width: 100%;
    height: 1000px;
}
#tituloBlog{
    text-align: center;
    margin-top: 50pt ;
    margin-bottom: 20pt;
}
#form-buscadorBlog{
    width: 100%;
}
.scroll {
    width: 100%;
    min-height: 400pt;
    margin: 0px auto;
    border: 1px solid #ccc;
    max-height: 300px; /* Altura máxima del contenedor */
    overflow-y: auto; /* Hace que el contenido sea desplazable verticalmente */
}

.scroll-content {
    /* Asegura que el contenido no se desborde fuera del contenedor */
    width: 100%;
    overflow: hidden;
}

/*Estilos cuando el ancho es inferior a 992px*/
@media only screen and (max-width: 992px) {
    .scroll{
        width: 100%;
        min-height: 400pt;
        margin: 0px auto;
        border: 1px solid #ccc;
        padding: 20px;
        overflow-y: auto; /* Hace que el contenido sea desplazable verticalmente */
    }
}